@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
*{
    font-family: "Ubuntu", sans-serif;
    margin: 0px;
    padding: 0;
   
  
}
body{
    background-color: white;
}
header {
    background-color: #ff94bc ;
    padding: 7px 20px 10px;
    display: flex;
    align-items: center;
}
.fas  {
    color: #d86d95;
    font-size: 40px;
}

.logo a{
    color: white;
    opacity: .9;
    font-size: 50px;
    font-weight:bold;
    text-transform: capitalize;
    margin-left: 50PX;
    margin-right: 400PX;
    text-decoration: none;
    
}

nav ul li {
    display: inline-block;
    margin: 10px;
    margin-left: 25px;
}
nav ul li a {
    color: white;
    /* opacity: .8; */
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  
}
a:hover {
    color:#d86d95;
    transition: 0s;
    border-radius: 10px;
}

h1 {
 
  margin-top: 20px;
  border:2px solid palevioletred ;
  text-align: center;
  background-color: antiquewhite;
}



.card {
    box-shadow: 0 8px 16px rgb(246, 103, 127);
    transition: 0.3s;
    width: 19rem;
    background-color: white;
   
}

.card:hover{
    box-shadow: 0 8px 16px pink;
}

.texts {
    padding: 2px 16px;

}

.image5 {
   width: 100%;
   height: 100%;
   object-fit: contain;
  
}

.items {
    display: flex;
    width: 100%;
    margin: 50px 20px 20px 20px;
    padding:;
}

.img-container {
    width: 85%;
    height: 20rem;
  
}



h2 {
    text-align: center;
    margin: 20px ;
    border: 2px solid palevioletred;
    
}



button {
    margin-top: 5px;
    border:2px solid black;
    margin-bottom: 20px; 
    background-color: antiquewhite;
  

}

car {
    box-shadow: 0 2px 4px pink;
    transition: 0.3s;
    width: 19rem;

    
    
}

.img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    float: left;
 }

 .cont {
    width: 85%;
    height: 20rem;
    
    margin-bottom: 50px;
    margin-top: 10px;
    margin-left: 100px;

    

}

table, td {
    border:2px solid black;
    padding: 20px;
  }

  td{
    text-align: center;
    color: rgb(243, 53, 116);
  }

  tr:hover {background-color: rgb(230, 151, 151);}

  .list {
    padding-left: 20px;
    padding-top: 20px;
  }

  

  h3 {
    padding-top: 20px;
    padding-left: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
  }



  

  

  
   
  a.one:visited { color:rgb(243, 53, 116);}
   
  a.one:hover {color: rgb(170, 242, 242);}




  .footer{
    background-color:#ff94bbd6;
    border-radius: 30px;
    height: 200px;
}
.end p{
    text-align: center;
    color: bisque;
    font-size: 20px;
    float:right;
    margin-right: 500px;
    margin-top: 170px;
    
}
.icons1{
    margin-top: 30px;
    margin-left: 40px;
    float: left;
}
.section1{
    display: flex;
    margin-bottom: 20px;
}
.section1 img{
    width: 40px;
    height: 40px;
}
.section1 p{
    font-size: 20px;
    margin-left: 15px;
    margin-top: 10px;
}
.section1 a{
    color: white;
}
.section1 img:hover{
    transform: scale( 1.2, 1.2);
    transition: .4s;
    cursor: pointer;
}
.section1 a:hover{
    color:#d86d95;
    cursor: pointer;
}
.icons2{
    padding-top: 30px;
    padding-left: 80px;
    margin-left: 900px;
}
.section2{
    display: flex;
    margin-bottom: 20px;
}
.section2 img{
    width: 40px;
    height: 40px;
}
.section2 p{
    font-size: 20px;
    margin-top: 10px;
    margin-left: 15px;
    color: white;
}
.section2 img:hover{
    transform: scale( 1.2, 1.2);
    transition: .4s;
    cursor: pointer;
}
.section2 p:hover{
    color:#d86d95;
    cursor: pointer;
}

.two {
  display: inline-block;
  color:  rgb(243, 53, 116);
  text-shadow: 3px 3px 3px rgb(241, 106, 151);
}

iframe#five{
  border:2px solid black;
  margin-top: 40px;
  margin-left: 20px;
  
}

video#vid {
  border:2px solid black;
  margin-left: 150px;
}

a.one {
 
 
  margin-left:20px;
}

#three {
  margin-left: 20px;
  margin-right: 20px;
}


h4 {
  text-decoration: underline;
  color: palevioletred;
  font-size: larger;
}

#li {
  margin-bottom: 50px;
  margin-top: 50px;
}


.lisimg{
  display: inline-block;
  border: 2px solid black;
  width: 90%;
  display: flex;
  flex-direction: row;
  margin-left: 50px;
  background-color: rgb(239, 205, 211);
  margin-top: 20px;
  margin-bottom: 30px;
}

.tab1{
  border: 2px solid palevioletred;
  background-color: rgb(239, 205, 211);
}

#chan{

  margin-left: 40px;
  margin-bottom: 10px;
}

form{
  width: 450px;
  height: 470px;
  border: 4px solid #ff94bc;
  border-radius: 20px;
  margin: 50px auto;
  background-color: rgb(246, 209, 216);
}

h5 {
  color:palevioletred ;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

#1{
  font-family: Arial;
}

input[type="text"] , [type="password"] {
   width: 300px;
   height: 60px;
   margin-bottom: 20px;
   margin-left: 80px;
   border: 2px solid #ff94bc;
   border-radius: 10px;
   outline: none;

}

input[type="submit"]{
   
  width: 150px;
  height: 60px;
  margin-left: 150px;
  border: 2px solid #ff94bc ;
  border-radius: 10px;
  color: palevioletred;
  font-size: 30px;
  outline: none;
  margin-top: 40px;

}

input[type="checkbox"]{
  margin: 15px 0 20px 80px ;

}


#four {
  width: 150px;
    height: 60px;
    margin-left: 150px;
    border: 2px solid #ff94bc ;
    border-radius: 10px;
    color: palevioletred;
    font-size: 30px;
    outline: none;
    margin-top: 40px;
}